@use 'variables' as *;

.time-card-container {
  width: 95%;
  max-width: 380px;
  margin: 0 auto;
  min-width: 260px;
  height: auto;
  min-height: 110px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  background: linear-gradient(to bottom, rgba($color-white, 0.5) 16%, rgba($light-orange, 0.3) 100%);
  box-shadow: $shadow-primary-light;
  border-radius: $radius-md;

  .info-section {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .info-row {
      display: flex;
      align-items: center;
      gap: 4px;

      .icon {
        width: 24px !important;
        height: 24px !important;
        color: $primary-orange;
      }

      .dsi-wifi-line {
        width: 22px;
        height: 15px;
      }

      span {
        font-size: $font-size-xs;
        line-height: $line-height-xs;
        letter-spacing: -0.15px;
      }

      .location-text {
        color: $text-sub;
        font-weight: $font-weight-medium;
      }

      .date-text {
        color: $text-sub;
        font-weight: $font-weight-bold;
        white-space: nowrap;
      }
    }
  }

  .time-display {
    font-weight: $font-weight-bold;
    font-size: $font-size-32xl;
    line-height: $line-height-lg;
    letter-spacing: $letter-spacing-tight;
    color: $primary-orange;
  }
}
