<div class="time-card-container">
    <div class="info-section">
        <div class="info-row">
            <i class="dsi dsi-wifi-line icon" alt="wifi"></i>
            <span class="location-text">{{ wifiName }}</span>
        </div>

        <div class="info-row">
            <i class="dsi dsi-calendar-line icon" alt="calendar"></i>
            <span class="date-text">{{ displayDate() }}</span>
        </div>
    </div>

    <div class="time-display">
        {{ displayTime() }}
    </div>
</div>