.weekday-attendance {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 24px;

    width: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.attendance-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.btn-group-ticket {
    display: flex;
    flex-direction: row;
    gap: 12px;
}