@use 'variables' as *;

.menu-list {
  background-color: $color-white;
}

:host ::ng-deep {
  $border-light: 1px $color-underline solid;

  .approval-list {
    background-color: $color-white !important;

    &-header,
    .approval-item {
      padding: 0 !important;
      display: flex;
      min-width: 20.5rem;
      /* 328px */
    }

    &-header {

      .approval-list-header-left,
      >div {
        flex-basis: 50%;
      }

      .approval-list-header-left {
        display: inline-block;
        padding: 0.75rem 0.75rem 0.7rem;
        /* 12px 12px 11.2px */
        line-height: $line-height-md;
        height: 3.75rem;
        /* 60px */
        box-sizing: border-box;
      }

      >div {
        text-align: end;
        padding: 1rem 0.75rem 0.95rem;
        /* 16px 12px 15.2px */
        height: 3.75rem;
        /* 60px */
        box-sizing: border-box;

        p {
          margin: 0;
          padding: 0.25rem 0;
          /* 4px 0 */
          color: $text-success;
          font-weight: $font-weight-bold;
          line-height: $line-height-sm;
        }
      }
    }

    &-content {
      .approval-item {

        &-left,
        &-right {
          flex-basis: 50%;

        }

        &-left {
          gap: 0.125rem;
          /* 2px */
          padding: 0.75rem 0.75rem 0.7rem;
          /* 12px 12px 11.2px */
          border-top: $border-light;
          height: 4.375rem;
          /* 70px */
          box-sizing: border-box;
          white-space: nowrap;
          overflow: hidden;

          .approval-item-left-name {
            display: block;
            font-weight: $font-weight-bold;
            line-height: $line-height-sm;
            padding-top: 0.25rem;
            /* 4px */

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .approval-item-left-date {
            display: block;
            font-size: $font-size-xs;
            font-weight: $font-weight-bold;
            line-height: $line-height-xs;
            padding-bottom: 0.25rem;
            /* 4px */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &-title {
              color: $text-muted;
              font-size: $font-size-xs;
            }
          }
        }

        &-right {
          border-top: $border-light;

          .action-buttons {
            display: flex;
            justify-content: flex-end;
            padding: 1.3125rem 0.75rem 1.2625rem;
            /* 21px 12px 20.2px */
            height: 4.375rem;
            /* 70px */
            box-sizing: border-box;
          }
        }
      }
    }
  }

  app-button-container {
    .button-container {
      background-color: $color-white;
      height: auto !important;
      padding: 0.25rem 0;
      /* 4px 0 */
      box-sizing: border-box;

      .button-content {
        font-size: $font-size-sm !important;
        line-height: $line-height-sm;
      }
    }
  }
}