@use 'variables' as *;

app-banner-slider {
  .banner-slider {
    border-radius: $radius-lg;

    &__slide-image {
      height: 345px;
    }

    &__button {
      background: linear-gradient(to left, rgba($light-orange, 0.6) 0%, rgba($color-white, 0.9) 58%);
      backdrop-filter: blur(1px);
      box-shadow: $shadow-primary-dark;

      .banner-slider__button-icon {
        color: $primary-orange;
      }

      &--prev {
        left: -10px;
      }

      &--next {
        right: -10px;
      }
    }
  }

  .banner-container {
    max-width: 848px;
    min-width: 680px;
  }

  .banner-slider-container {
    // Để trống theo code gốc
  }
}

app-banner-slider-view-all-button {
  .banner-slider {
    &__view-all {
      bottom: -17px;
    }

    &__view-all-button {
      border-radius: $radius-lg;
      padding: 0 20px;
      height: 49px;
      background: linear-gradient(to bottom,
          $color-white 0%,
          rgba($light-orange, 0.8) 100%);
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
      box-shadow: $shadow-primary-dark !important;

      span {
        font-weight: $font-weight-bold;
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        letter-spacing: -0.15px;
        color: $primary-orange;
      }
    }
  }
}