@use 'variables' as *;

app-banner-slider {

  .banner-slider {
    border-radius: $radius-lg;

    &__slide-image {
      height: 21.5625rem;
      /* 345px */
    }

    &__button {
      background: linear-gradient(to left, rgba($light-orange, 0.6) 0%, rgba($color-white, 0.9) 58%);
      backdrop-filter: blur(1px);
      box-shadow: $shadow-primary-dark;

      .banner-slider__button-icon {
        color: $primary-orange;
      }

      &--prev {
        // left: -10px;
        left: 0;
      }

      &--next {
        //right: -10px;
        right: 0;
      }
    }
  }

  .banner-container {
    padding: 0 0.75rem;
    /* 12px */
    //max-width: 848px;
    min-width: 680px;
  }

  .banner-slider-container {
    // Để trống theo code gốc
  }
}

app-banner-slider-view-all-button {
  .banner-slider {
    &__view-all {
      bottom: -1.0625rem;
      /* -17px */
    }

    &__view-all-button {
      border-radius: $radius-lg;
      padding: 0 1.25rem;
      /* 20px */
      height: 3.0625rem;
      /* 49px */
      background: linear-gradient(to bottom,
          $color-white 0%,
          rgba($light-orange, 0.8) 100%);
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
      box-shadow: $shadow-primary-dark !important;

      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
      }

      span {
        font-weight: $font-weight-bold;
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        letter-spacing: -0.15px;
        color: $primary-orange;
      }
    }
  }
}