@use 'variables' as *;

.attendance-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  gap: 1rem;
}

:host ::ng-deep .my-custom-modal {
  padding: 1rem;
  /* 16px */
  width: 18rem;
  /* 288px */

  .message {
    margin: 0;
    padding-bottom: 1.15rem;
    /* 18.4px */
    font-size: $font-size-xs;
    font-weight: $font-weight-regular;
    line-height: $line-height-xs;
  }

  .actions {
    height: 2.25rem;
    /* 36px */
    margin-top: 1rem;
    /* 16px */
    gap: 0.5rem;
    /* 8px */

    .btn {
      padding: 0.5rem 0.75rem;
      /* 8px 12px */
      font-size: $font-size-sm;
    }

    .btn>span {
      margin: 0 0.5rem;
      /* 8px */
    }

    .btn.cancel {
      border: 1px $primary-orange solid !important;
      background: none;
      color: $primary-orange;
    }
  }
}