<div class="attendance-item" [class.is-loading]="isLoading()">
  <div class="attendance-img">
    <img [class]="image()" [alt]="label()" class="attendance-icon" />
  </div>
  <div class="action">
    <div class="response-time-wrapper">
      <p [class.time]="time()">{{ time() ?? '--:--' }}</p>
    </div>

    @if (!statusMessage()) {
    <button class="action-button" [disabled]="disabled()" [class.button-disabled]="disabled()"
      (click)="onAction.emit()">
      <span class="button-text">{{ label() }}</span>
    </button>
    } @else {
    <div class="status-container">
      <i [class]="statusIcon()" alt="status_icon" class="status-icon"></i>
      <span class="status-message" [class.text-error]="isError()" [class.text-success]="!isError()">
        {{ statusMessage() }}
      </span>
    </div>
    }
  </div>
</div>