@use 'variables' as *;

.attendance-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

:host ::ng-deep .my-custom-modal {
  padding: 16px;
  width: 288px;

  .message {
    margin: 0;
    padding-bottom: 18.4px;
    font-size: $font-size-xs;
    font-weight: $font-weight-regular;
    line-height: $line-height-xs;
  }

  .actions {
    height: 36px;
    margin-top: 16px;
    gap: 8px;

    .btn {
      padding: 8px 12px;
      font-size: $font-size-sm;
    }

    .btn>span {
      margin: 0 8px;
    }

    .btn.cancel {
      border: 1px $primary-orange solid !important;
      background: none;
      color: $primary-orange;
    }

    .btn.confirm {}
  }
}