@use 'variables' as *;

.attendance-item {
  .attendance-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: radial-gradient(circle, $bg-radial-start, $color-radial-end);
    background-color: $bg-checkin-top;
    border-top-left-radius: $radius-md;
    border-top-right-radius: $radius-md;
    height: 104px;
    width: 162px;

    .attendance-icon {}
  }

  .action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background: $bg-checkin-btm;
    padding: 12px 8px;
    border-bottom-left-radius: $radius-sm;
    border-bottom-right-radius: $radius-sm;

    .response-time-wrapper {
      p {
        font-weight: $font-weight-medium;
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        letter-spacing: -0.15px;
        margin: 0;

        &.time {
          color: $text-time;
        }
      }
    }

    .action-button {
      width: 146px;
      height: 36px;
      background-color: $accent-orange;
      border-radius: $radius-xs;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($accent-orange, 8%);
      }

      .button-text {
        font-weight: $font-weight-medium;
        font-size: $font-size-sm;
        color: $color-white;
        line-height: $line-height-sm;
        letter-spacing: -0.15px;
      }

      &.button-disabled {
        background-color: $bg-disable !important;
        cursor: not-allowed !important;

        .button-text {
          color: $text-muted !important;
        }
      }
    }

    .status-container {
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: center;

      .status-icon {}

      .status-message {
        display: flex;
        align-items: center;
        text-align: center;
        height: 36px;

        font-size: $font-size-2xs;
        font-weight: $font-weight-regular;
        line-height: $line-height-2xs;
        letter-spacing: $letter-spacing-normal;
        color: $text-success;

        &.text-error {
          color: $text-error !important;
        }

        &.text-success {
          color: $text-success !important;
        }
      }
    }
  }
}