@use 'variables' as *;

.weekday-attendance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 383px;
    height: 100%;
    padding: 24px;
    background: $color-white;
    border-radius: $radius-md;

    .attendance-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .btn-group-ticket {
        display: flex;
        flex-direction: row;
        gap: 12px;

        ::ng-deep {
            app-button-container button {
                width: 165.5px !important;
            }

            app-create-ticket-btn button {
                padding: 0 2.75px !important;
            }
        }
    }
}