:host ::ng-deep .button-container {
    gap: 2px !important;
    height: 44px !important;

}

:host ::ng-deep .button-container span {
    padding: 0 8px;
    white-space: nowrap;
    text-align: center;
    line-height: 20px;
}