app-banner-slider {
  .banner-slider {
    border-radius: 24px;
  }

  .banner-container {
    max-width: 848px;
    min-width: 680px;
  }

  .banner-slider-container {}

  .banner-slider__slide-image {
    height: 345px;
  }

  .banner-slider__button {
    background: linear-gradient(to left, #FED8B399 0%, #FFFFFFE5 58%);
    backdrop-filter: blur(1px);
    box-shadow: 2px 1px 10.8px 0px #E18308A8;
  }

  .banner-slider__button .banner-slider__button-icon {
    color: #EE8E1B;
  }

  .banner-slider__button--prev {
    left: -10px;
  }

  .banner-slider__button--next {
    right: -10px;
  }
}

app-banner-slider-view-all-button {
  .banner-slider__view-all {
    bottom: -17px;
  }

  .banner-slider__view-all-button {
    border-radius: 24px;
    padding: 0 20px;
    height: 49px;

    background: linear-gradient(to bottom,
        #ffffff 0%,
        #fed8b3cc 100%);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

    box-shadow: 2px 1px 10.8px 0px #e18308a8;
  }

  .banner-slider__view-all-button span {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #E18308;

  }
}