@use 'variables' as *;

:host {
  display: block;
  flex: 1 1 0px;
  max-width: 100px;
}

.weekday {
  width: 100%;
  min-width: 45px;
  aspect-ratio: 1;
  height: auto;
  border-radius: $radius-sm;
  padding: 8px 0;
  background: $bg-weekday;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2px;

  span {
    color: $text-sub;
    font-weight: $font-weight-bold;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    letter-spacing: -0.15px;
  }

  .ico-base {
    height: 26px;
    width: 26px;
    display: inline-block;
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;

    &.dsi-check-circle-line {
      color: $primary-orange;
    }

  }

}