@use 'variables' as *;

.weekday {
  height: 60px;
  width: 60px;
  border-radius: $radius-sm;
  padding: 8px 0;
  background: $bg-weekday;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;

  img {
    height: 26px;
    width: 26px;
  }

  span {
    color: $text-sub;
    font-weight: $font-weight-bold;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    letter-spacing: -0.15px;
  }
}